*,
body,
html {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", serif;
}

.header {
    font-family: "Merriweather", serif;
}

.order {
    border-radius: 4rem;
    transition: all 0.3s ease;
    background-color: grey;
    background: rgba(0, 0, 0, 0.1);
}

.order:hover {
    transform: scale(1.1);
    cursor: pointer;
}

label {
    color: grey;
    font-style: italic;
}

.nav-admin:hover {
    background-color: lightgrey;
}

.user-products {
    transition: transform 0.2s;
}

.user-products:hover {
    transform: scale(1.1);
}
